html,
body{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
	outline: none;
}
a,aside,body,div,footer,
form,h1,h2,h3,h4,h5,h6,
header,html,iframe,img,label,
li,object,ol,p,pre,span,tbody,
td,th,tr,ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;

}
img {
    max-width: 100%;
    height: auto;
    width: 100%;
}