header {
  background: #008E5A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 10px 0px; }
  header .c-title {
    padding: 10px 30px;
    line-height: 20px; }
    header .c-title span {
      color: #fff;
      font-family: 'Mukta-Bold';
      font-size: 25px; }
  header .c-info-user {
    position: absolute;
    right: 20px; }
    header .c-info-user span {
      font-family: 'Mukta-Regular';
      font-size: 17px;
      color: #fff;
      padding: 0px 20px; }
    header .c-info-user a {
      text-decoration: none;
      color: #fff;
      font-family: 'Mukta-Regular';
      font-size: 15px;
      border: solid 1px #fff;
      border-radius: 5px;
      padding: 3px 10px; }
      header .c-info-user a:hover {
        background: #fff;
        color: #008E5A;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease; }

aside,
main {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

aside {
  background: #007c4f;
  width: 25%;
  position: relative;
  height: 90vh; }
  aside .c-title {
    width: 100%;
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: 'Mukta-Regular';
    padding: 10px 0px;
    text-align: center; }
  aside .c-listas {
    width: 100%;
    margin: 70px 0px; }
    aside .c-listas ul li {
      list-style: none;
      width: 90%;
      margin: 5px auto; }
      aside .c-listas ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-family: 'Mukta-Regular'; }
        aside .c-listas ul li a:hover {
          color: #9de9cd; }

main {
  background: #fff;
  width: 74%;
  position: absolute; }
  main .c-main-consumibles {
    padding: 30px 30px 0px 30px;
    width: 100%; }
    main .c-main-consumibles .c-main-title span,
    main .c-main-consumibles .c-main-title small {
      color: #008E5A;
      font-family: 'Mukta-Regular'; }
    main .c-main-consumibles .c-main-title span {
      font-size: 30px; }
    main .c-main-consumibles .c-main-title small {
      font-size: 15px; }
    main .c-main-consumibles .full_row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: #d8d6d6;
      padding: 10px; }
      main .c-main-consumibles .full_row a {
        padding: 5px 10px;
        justify-self: flex-end;
        text-decoration: none;
        font-family: 'Mukta-Regular';
        color: #fff;
        background: #008E5A;
        border-radius: 5px; }
        main .c-main-consumibles .full_row a i {
          margin: 5px; }
    main .c-main-consumibles .c-table {
      overflow-y: scroll;
      height: 450px; }
      main .c-main-consumibles .c-table table {
        width: 100%;
        text-align: left;
        color: #008E5A;
        font-family: 'Mukta-Regular';
        margin-top: 20px;
        border-collapse: collapse; }
        main .c-main-consumibles .c-table table thead tr th {
          font-family: 'Mukta-Bold';
          border: #D8D6D6 1px solid;
          padding: 5px; }
        main .c-main-consumibles .c-table table tbody tr td {
          border: #D8D6D6 1px solid;
          padding: 5px; }
          main .c-main-consumibles .c-table table tbody tr td .c-btn-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            main .c-main-consumibles .c-table table tbody tr td .c-btn-group a {
              padding: 5px 15px;
              margin: 0px 5px;
              color: #fff;
              font-size: 15px;
              border-radius: 5px; }
            main .c-main-consumibles .c-table table tbody tr td .c-btn-group .btn-info {
              background: #065FD4; }
            main .c-main-consumibles .c-table table tbody tr td .c-btn-group .btn-warning {
              background: #E6BC27; }
            main .c-main-consumibles .c-table table tbody tr td .c-btn-group .btn-danger {
              background: #FF0000; }
      main .c-main-consumibles .c-table .dataTables_length {
        padding: 10px 0px;
        font-family: 'Mukta-Regular';
        color: #008E5A;
        font-size: 15px; }
        main .c-main-consumibles .c-table .dataTables_length select {
          font-family: 'Mukta-Regular';
          margin: 0px 5px;
          color: #008E5A;
          background: #D8D6D6;
          border: none;
          font-size: 15px; }
      main .c-main-consumibles .c-table .dataTables_filter {
        padding: 10px 15px;
        font-family: 'Mukta-Regular';
        color: #008E5A;
        font-size: 15px; }
        main .c-main-consumibles .c-table .dataTables_filter input {
          border: solid 1px #D8D6D6;
          font-family: 'Mukta-Regular';
          color: #008E5A;
          font-size: 15px; }
      main .c-main-consumibles .c-table .dataTables_info,
      main .c-main-consumibles .c-table .previous,
      main .c-main-consumibles .c-table .next {
        font-family: 'Mukta-Regular';
        color: #008E5A !important;
        font-size: 15px; }
  main .agregar-consumible {
    background: red; }
    main .agregar-consumible .c-main-form {
      background: lime; }
      main .agregar-consumible .c-main-form form .c-input-group {
        background: purple; }

footer {
  background: gold; }
