body {
  background: #E7ECED; }

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-container .c-login {
    width: 90%;
    max-width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    .main-container .c-login form {
      text-align: center; }
      .main-container .c-login form img {
        width: 120px;
        height: 120px;
        border-radius: 50%; }
      .main-container .c-login form .mdl-textfield__input {
        border-bottom: 1px solid #3f51b5 !important;
        color: #3f51b5; }
      .main-container .c-login form .mdl-textfield.is-invalid .mdl-textfield__input {
        border-color: rgba(63, 81, 181, 0.5) !important; }
      .main-container .c-login form .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
        color: #3f51b5;
        font-size: 16px; }
      .main-container .c-login form .mdl-textfield.is-invalid .mdl-textfield__label:after {
        background-color: #3f51b5 !important; }
      .main-container .c-login form button {
        width: 90%;
        height: 40px;
        border-radius: 5px;
        margin-top: 20px;
        outline: 0px;
        color: #3f51b5;
        border: 1px solid #3f51b5;
        background: transparent; }
        .main-container .c-login form button:hover {
          background: #3f51b5;
          color: #fff;
          -webkit-transition: all 300ms ease-in-out;
          -o-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px;
  text-align: right; }
  footer p {
    color: #3f51b5;
    padding: 0px 50px; }
